{
  "projects": {
    "dev": "inoworl-nexttree-tools-dev",
    "prod": "inoworl-nexttree-tools-prod"
  },
  "targets": {
    "inoworl-nexttree-tools-dev": {
      "hosting": {
        "produce-counter": [
          "nexttree-tools-produce-dev"
        ]
      }
    },
    "inoworl-nexttree-tools-prod": {
      "hosting": {
        "produce-counter": [
          "nexttree-tools-produce-prod"
        ]
      }
    }
  },
  "etags": {}
}
